<div class="modal hidden js-modal">
  <div class="modal-container">
    <div class="search-field location">
      <img src="./images/desktop/icon-location.svg"  alt="Search icon" />
      <input
        class="js-modal-location"
        name="location"
        type="text"
        placeholder="Filter by location..."
      />
    </div>
    <div class="button-box">
      <label class="checkbox-wrapper">
        <input class="js-modal-fullTime" name="jobType" type="checkbox" />
        <span class="checkmark"></span>
        <span class="label"></span>
      </label>
      <div class="submit-btn">
        <button class="btn-search js-modal-submit-btn">Search</button>
      </div> 
    </div>
  </div>
</div>
