<div class="search-box">
  <form class="js-form">
    <div class="search-field">
      <img src="./images/desktop/icon-search.svg" />
      <input
        class="js-terms"
        name="terms"
        type="text"
        placeholder="Filter by title, companies, expertise…"
      />
    </div>
    <div class="location-field">
      <img src="./images/desktop/icon-location.svg" />
      <input
        class="js-location"
        name="location"
        type="text"
        placeholder="Filter by location…"
      />
    </div>
    <div class="button-box">
      <label class="checkbox-wrapper">
        <input class="js-fullTime" name="jobType" type="checkbox" />
        <span class="checkmark"></span>
        <span class="label">Full Time Only</span>
      </label>
      <button type="submit">Search</button>
    </div>
  </form>
</div>
