<div class="search-box">
  <form class="js-form">
    <div class="search-field">
      <img class="icon-search" src="./images/desktop/icon-search.svg" alt="Search icon" />
      <input
        class="js-terms"
        name="terms"
        type="text"
        placeholder=""
      />
      <img class="icon-filter" src="./images/mobile/icon-filter.svg" alt="Filter icon" />

    </div>
    <div class="location-field">
      <img src="./images/desktop/icon-location.svg"  alt="Location icon" />
      <input
        class="js-location"
        name="location"
        type="text"
        placeholder="Filter by location..."
      />
    </div>
    <div class="button-box">
      <label class="checkbox-wrapper">
        <input class="js-fullTime" name="jobType" type="checkbox" />
        <span class="checkmark"></span>
        <span class="label js-label"></span>
      </label>
      <button type="submit" class="js-submit-btn"></button>
    </div>
  </form>
</div>
